.footer {
    width: 100%;
    height: 180px;
    background: #F16353;
    display: flex;
    position: relative;
}

.footer__title {
    position: absolute;
    left: 45%;
    bottom: 40%;
}

.footer__label {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 14px;
    color: #F8F9FA;
    position: absolute;
    left: 7%;
    bottom: 45%;
}

.footer__socialmedia {
    width: 140px;
    height: 60px;
    position: absolute;
    right: 17%;
    bottom: 37%;
}