@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display:400|Rubik:300,700,500|Roboto:700");

body {
    margin: 0;
    background: #FEF8F5;
}

.container {    
    margin: 0 auto;
    width: 80%;
    height: 764px;
    background: url(/images/heroimage.svg) no-repeat left 15% top -60px;
    background-size: 140%;
}

.container__hero {
    margin-left: 80px;
}

a {
    text-decoration: none;
}

.rubikfont {
    font-family: "Rubik";
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 12px;
    color: #FFFFFF;
}

li {
    display: block;
}

.motto {
    width: 50%;
    font-family: "DM Serif Display";
    font-size: 65px;
    letter-spacing: 1px;
    line-height: 70px;
    font-weight: 300;
    color: #FFFFFF;
}

button {
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background-color: #EE4D47;
    border-radius: 5px;
    border: 0;
}

.carimg {
    width: 50%;
    height: 50%;
    left: -9%;
    top: -250px;
    z-index: 1;
    position: relative;
}

section {
    top: -100px;
    display: flex;
    position: relative;
    margin-left: 15%;
    margin-bottom: 80px;
}

.heading {
    font-family: "Rubik";
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    color: #EE4D47;
    margin-bottom: 40px;
}

.section__paragraph {
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 40px;
}

.section__text {
    width: 400px;
    margin-right: 70px;
}

.section__text_2 {
    width: 410px;
}

.postmanimg {
    top: -50px;
    width: 450px;
    height: 450px;
    position: relative;
}

.girlimg {
    width: 570px;
    height: 570px;
    top: -85px;
    position: relative;
    margin-right: 10px;
}

.section__howtoapply {
    left: -90px
}

.pane {
    padding: 18px 40px;
    background: #FCDDD4;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #402B2B;
    width: 380px;
    border-left: 10px solid #ED4D47;
    border-radius: 5px;
}

.section__clients {
    display: block;
    position: relative;
    top: -200px;
    width: 80%;
    margin: 0 auto;
}

.black__title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    margin-bottom: 50px;
    color: #402B2B;
}

.div__clients {
    justify-content: space-evenly;
}

.rubikblack {
    font-family: "Rubik";
    font-weight: 300;
    color: #402B2B;
}

.client {
    width: 300px;
    height: 310px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.client__paragraph {
    font-size: 14px;
    line-height: 25px;
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 40px;
}

.clientcred {
    display: flex;
    vertical-align: middle;
    padding-left: 35px;
    position: absolute;
    bottom: 30px;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.robotofont {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    color: #402B2B;
}

.title {
    display: flex;
    font-family: "DM Serif Display";
    font-size: 23px;
    color: #FFFFFF;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}