.hamsterPicture {
    width: 22vw;
    height: 18vw;
    border-radius: 2vw;
}

.topHamstersDiv {
    display: flex;
    justify-content: space-around;
}

.hamsterInfoDiv {
    width: 25%;
    text-align: center;
}

h2 {
    margin: 0;
}

.viewMoreButton {
    font-size: larger;
    font-weight: 600;
    margin-top: 5vw;
    width: 15vw;
    height: 3vw;
    border: none;
    border-radius: 1vw;
    background-color:#5f9ea0;
    transition: background-color 0.2s ease-in-out;
}

.viewMoreButton:hover {
    background-color:#426b6c;
    cursor: pointer;
}

.afterMainDiv {
    margin-top: 12vw;
    text-align: center;
}