.viewMoreButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    font-weight: 600;
    width: 15vw;
    height: 3vw;
    border: none;
    border-radius: 1vw;
    background-color:#5f9ea0;
    transition: background-color 0.2s ease-in-out;
}

.viewMoreButton:hover {
    background-color:#426b6c;
    cursor: pointer;
}
