.hamstersPicture {
    width: 28vw;
    height: 23vw;
    margin: 1vw;
    margin-right: 0;
    border-radius: 1vw;
}

.titleDiv {
    width: 50%;
}

.mainDiv {
    margin-top: 4vw;
    display: flex;
    justify-content: space-around;
}

p {
    font-size: 1.5vw;
}