.applyButton {
    margin-left: auto;
    margin-right: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    width: 12vw;
    height: 3vw;
    border-radius: 1vw;
    border-width: 0.1vw;
    border-color: black;
}

.applyButton:hover {
    background-color: gainsboro;
    cursor: pointer;
}